html {
    background: url(../img/paper.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h3, h5 {
    -webkit-filter: opacity(.9);
    filter: opacity(.9);
}