@media screen and (max-width: 960px) {
    #container, footer {
        width: 758px;
    }

    #content {
        margin: 0 20px 0 0;
    }

    #sidebar {
        width: 212px;
    }
    #sidebar section {
        clear: left;
    }
    #sidebar #search #searchbar {
        width: 152px;
    }
    .wrap{
        width: 450px;
    }
}

@media screen and (max-width: 480px) {
    .wrap{
        width: 310px;
    }
    .wrap h3 {
        font-size: 60px;
    }
    .wrap h3:after {
        content: "";
        display: block;
        border-bottom: 1px solid #000;
        padding-top: 13px;
    }
    .wrap h5 {
        letter-spacing: 8px;
        text-transform: uppercase;
        text-align: center;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        margin-top: -30px;
    }
    .showicon {
        width: 40px !important;

    }
}