@-webkit-viewport {width: device-width;}
@-moz-viewport {width: device-width;}
@-ms-viewport {width: device-width;}
@-o-viewport {width: device-width;}
@viewport {width: device-width;}

@media screen and (max-width: 960px) {
    #container, footer {
        width: 758px;
    }

    #content {
        margin: 0 20px 0 0;
    }

    #sidebar {
        width: 212px;
    }
    #sidebar section {
        clear: left;
    }
    #sidebar #search #searchbar {
        width: 152px;
    }
    .wrap{
        width: 450px;
    }
    .showicon {
        width: 40px !important;
    }
}

@media only screen and (max-width: 680px)  {
    .wrap{
        width: 310px !important;
    }
    .wrap h3 {
        font-size: 60px !important;
    }
    .wrap h3:after {
        content: "";
        display: block;
        border-bottom: 1px solid #000;
        padding-top: 15px;
    }
    .wrap h5 {
        letter-spacing: 8px;
        text-transform: uppercase;
        text-align: center;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        margin-top: -50px !important;
    }
    .showicon {
        width: 40px !important;
    }
    #cord{
        left:0%;
    }
}