.wrap {
    width: 650px;
    margin: 0 auto;
}
.wrap h3 {
    font-family: Helvetica, Arial;
    font-size: 80px;
    text-align: center;
    font-weight: bold;
}
.wrap h3:after {
    content: "";
    display: block;
    border-bottom: 1px solid #000;
    padding-top: 10px;
}
.wrap h5 {
    letter-spacing: 14px;
    text-transform: uppercase;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-top: -70px;
}

.content-wrapper {
    width: 100%;
    padding: 0 5em;
}
.content-wrapper > div {
    max-width: 40em;
    margin: 0 auto;
}

#nav {
    position: relative;
    top: 0;
    z-index: 1;
    padding: 0em 0;
}

#nav ul {
    display:block;
    font-size: 1.3em;
    text-align:center;
    padding:0;

}
#nav li {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0 25px 0 0;
}
#nav li:last-child {

}
#nav a {
}
#nav a:hover {
}

.showicon {
    width:30px;
    filter: grayscale(100%);
    filter: url(#greyscale);
    filter: gray;
    -webkit-filter: grayscale(1);

}